= render partial: 'records/record_row',
         collection: @items.map(&:record),
         as: :record,
         layout: 'records/layout_table'

.pull-right
  = link_to 'Commit', commit_importer_session_path(@importer_session),
            method: :delete, class: 'btn btn-success', data: {confirm: 'Are you sure?'}
  = link_to 'Rollback', rollback_importer_session_path(@importer_session),
            method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'}